<!doctype html>
<html lang="en">
<%- include("../partials/head") %>

    <body>


        <%- include("../partials/header") %>
            <div class="container-fluid">
                <div class="row">
                    <%- include("../partials/sidebar") %>

                        <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
                            <div
                                class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
                                <h1 class="h2">Carnet de liaison</h1>
                            </div>
                        
                                

                            <input class="form-control" id="myInput" type="text" placeholder="Recherche.."><br>
                            <table id="example" class="table table-striped">
                                <thead class="table-dark">
    
                                    <tr>
                                        <th scope="col">#</th>
                                        <th scope="col">Profs.</th>
                                        <th scope="col">Titre</th>
                                        <th scope="col">du</th>
                                        <th scope="col">au</th>
                                        <th scope="col">Classe</th>
                                        <th scope="col">Matière</th>
                                        <th scope="col"class="text-center">Afficher</th>
                                        <th scope="col"class="text-center">Telecharger</th>
                                        <th scope="col" class="text-center">Supprimer</th>
    
                                    </tr>
                                </thead>
                                <tbody id="myTable">
                                    <% var i=1 %>
                                        <% dataCarnet.forEach(item=> { %>
                                          
                                            <tr>
                                                <th scope="row">
                                                    <%= i %>
                                                </th>
                                                <td>
                                                <%#=item.prof.lastname %> <%#= item.prof.firstname %>   
                                                </td>
                                                <td>
                                                    <%= item.title %>
                                                </td>
                                                <td>
                                                    <%=  item.date1.getDate()+'/'+(item.date1.getMonth()+1)+'/'+item.date1.getFullYear() %>
                                                </td>
                                                <td>
                                                    <%= item.date2.getDate()+'/'+(item.date2.getMonth()+1)+'/'+item.date2.getFullYear() %>
                                                </td>
                                                <td>
                                                    <% item.classe.forEach(item1=> { %>

                                                        <%= item1.name%> <br>

                                                            <% }); %>
                                                </td>
                                                <td>
                                                    <%= item.matiere.name %>
                                                </td>
                                                <td class="text-center">
                                                    <a href="/getcarnet/<%= item._id %>" class="text-primary"><i class="fas fa-eye"></i></a>
                                                </td>

                                                <td class="text-center">
                                                    
                                                    <% if (item.avatar=='Rien') {%>
                                                       
                                                         <i class="fas fa-times-circle"></i> 
                                                     
                                                    <%} else { %>
                                                        
                                                        <a href="../uploads/<%= item.avatar %>"  class="text-success"><i class="fas fa-file-download"></i></a>
                                                       <%}%>


                                                    </td>
                                                    
                                                    <td class="text-center">
                                                   
                                                    
                                                    
                                               
    
                                                    
                                                    <a href="/deleteCarnet/<%= item._id %>" class="text-danger"><i class="fas fa-trash-alt"></i></a>
                                                </td>
    
                                           
    
                                            </tr>
                                            <% i++ %>
                                                <% }); %>
                                </tbody>
                            </table>
                            <div class="alert alert-dark">
                                <p class="h6">Total : <%= i-1  %></p>
                               
                            </div>
                            <%- include("../partials/footer") %>

                        </main>
                </div>
            </div>


            </main>
    </body>

</html>